  h1  qqqqqqqqqqqqq

    

block script
  script(src="/socket.io/socket.io.js")
  //- script(src="node_modules/moment-jalaali/build/moment-jalaali.js")
  script.
      var socket = io('http://localhost');
      socket.on('*',function(visit){
        console.log(visit,'hi')
     
      })
